body, html {
    background-color: #d3d3d3;
}
.carousel-inner img {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    width:100%;
    left: 0;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}